{{!-- {{#with randomBeer}} --}}
<img src="{{image_url}}" alt="img">
<h2>{{name}}</h2>
<span>{{tagline}}</span>
<p>{{description}}</p>
<strong>Food Paring</strong>
<ul>
{{#each food_pairing}}
<li>{{this}}</li>
{{/each}}
</ul>

<strong>Brewers Tips: </strong>: <span>{{brewers_tips}}</span>


{{!-- {{/with}} --}}